body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    flex-direction: column;
    min-height: 100vh;
    margin:0px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.header-links{
    margin-left: auto;
}
.top-section {
    background-color: #1F2937;
}